.phone-link {
  position: absolute;
  display: inline;
  width: max-content;
  left: -80px;
  opacity: 0;
  top: -5px;
  right: inherit;
  transform: translateX(-50%);

  font-weight: 700;
  font-family: Inter, sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $main-text-color;
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: contain;

  @include on-tablet {
    height: 32px;
    width: 32px;
  }


  @include hover(transform, scale(1.2));


  &--phone {
    position: relative;
    background-image: url(/src/images/icons/icon-phone.svg);

    @include on-desktop {
      &:hover .phone-link {
        opacity: 1;
      }
    }
  }

  &--menu {
    background-image: url(/src/images/icons/icon-menu.svg);

    &:hover {
      background-image: url(/src/images/icons/icon-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(/src/images/icons/icon-close.svg);
  }
}




