.move {
  @include page-grid;

  &__title {
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    text-align: left;
    grid-column: 1 / -1;

   @include on-tablet {
    grid-column: span 3;
   }

   @include on-desktop {
    grid-column: span 4;
   }
  }

  &__text {
    margin: 0;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
   }

   @include on-desktop {
    grid-column: 7 / 11;
   }
  }
}
