.nav {

  &__menu {
    margin-bottom: 40px;
  }

  &__link {
    position: relative;

    text-decoration: none;
    font-weight: $font-weight-bold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: $main-text-color;

    &::after {
      content: '';
      bottom: -8px;
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      background-color: $main-text-color;

      transition: $transition;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}


// @media (min-width: 744px) and (max-width: 1259px) {
//   .nav {
//     &__content {
//       padding-inline: 72px;
//     }

//     &__menu {
//       margin-bottom: 40px;
//     }

//     &__link {
//       color: $main-text-color;
//       text-decoration: none;
//       font-size: 22px;
//       line-height: 22px;
//       letter-spacing: 2px;
//     }
//     &__list {
//       margin: 0;
//       padding: 0;
//       list-style: none;
//       display: flex;
//       flex-direction: column;
//       gap: 32px;
//     }
//   }
// }

// @media (min-width: 1260px) {
//   .nav {
//       &__content {
//       padding-inline: 120px;
//     }

//     &__menu {
//       margin-bottom: 40px;
//     }

//     &__link {
//       color: $main-text-color;
//       text-decoration: none;
//       font-size: 22px;

//       line-height: 22px;
//       letter-spacing: 2px;
//       position: relative;

//       &::after {
//         content: '';
//         position: absolute;
//         width: 100%;
//         height: 1px;
//         left: 0;
//         bottom: -7px;
//         transition: 0.5s ease;
//         transform: scaleX(0);

//         background-color: $main-text-color;
//       }

//       &:hover::after {
//         transform: scaleX(1);
//       }
//     }

//     &__list {
//       margin: 0;
//       padding: 0;
//       list-style: none;
//       display: flex;
//       flex-direction: column;
//       gap: 32px;
//     }
//   }
// }
