* {
  box-sizing: border-box;
}

.page {
  scroll-behavior: smooth;

  &:has:target {
    overflow: hidden; /* not to scroll the page */
  }

  &__body {
    margin: 0;
    background-color: $main-text-color;
    min-width: 320px;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transition: $transition;
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}

.container {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-desktop {
    max-width: 1020px;
    margin-inline: auto;
    padding: 0;
  }
}
